<html>
    <head>
        {{>header}}
    </head>
    <body>
        {{>adminNav}}
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-6 bg-secondary text-white">
                <h2>Left Side Content</h2>
                <p>This is some text on the gray left side.</p>
                </div>
            <div class="col-md-6">
            <img src="{{imageUrl2}}" class="img-fluid" alt="Image">
                </div>
            </div>
        </div>
    </body>
</html>