<html>
    <head>
        {{>header}}
    </head>
    <body>

    <style>
        body{
            background-color: #3a5f5e;
        }
        .btn{
            background-color: red;
        }
    </style>

        {{>adminNav}}
        {{#pantry}}
            <div class="container">
                <h1 class="title mt-5 mb-4">Pantry Information</h1>
                <div class="card">
                    <div class="card-body">
                    <form action="/deletePantry" method="POST">
                        <input type="hidden" name="pantryId" value="{{_id}}">
                        <input type="hidden" name="pantry" value="{{user}}">
                        <input type="hidden" name="location" value="{{location}}">
                        <h2 class="card-title">Pantry: {{ pantry }}</h2>
                        <h2 class="card-title">Location: {{ location }}</h2>
                        <button type="submit" class="btn btn-primary">Delete</a>
                    </form>
                </div>
            </div>
        </div>
        {{/pantry}}
        {{^pantry}}
            <div class="container">
                <h1 class="mt-5 mb-4">Pantry Information</h1>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">No pantries currently available</h5>
                    </div>
                </div>
            </div>
        {{/pantry}}
        <a href="/createPantryPage" class="btn btn-primary">Create Pantry</a>
    </body>
</html>