<html>
<head>
    {{>header}}
</head>
<body>
    {{#user}}
        {{>userNav}}
    {{/user}}
    {{^user}}
        {{>navbar}}
    {{/user}}

    <div class="container-flex">
        <div class="row mt-4">
            <div class="col-md-6 bg-secondary text-white d-flex flex-column">
                <h1>Contact Us</h1>
                <h4>Address: 69-71 Aberdalgie Road, Easterhouse, Glasgow, G34 9HJ</h3><br>
                <h4>Phone No: 0141 442 0349</h3><br>
                <h4>Email: enquiries@scottishpantrynetwork.org.uk</h3><br>
                <br>
                <h4>Locations:</h4>
                <iframe src="https://www.google.com/maps/d/embed?mid=148StCPpN9dM56ecUVsyMCHWQKt5ul6U&ehbc=2E312F" width="500" height="400"></iframe>
            </div>
            <div class="col-md-6 d-flex">
                <img src="{{imageUrl2}}" class="img-fluid" alt="Image">
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>