<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <title>Donation Form</title>
    {{>header}}
</head>
<body>
    {{>userNav}}

    <style>
        body{
            background-color: #3a5f5e;
        }
        .btn{
            margin-bottom: 0.1in;
        }
        .expirationDate1{
            margin-bottom: 0.1in;
        }
    </style>

    <div class="container center-content">
        <div class="row justify-content-center form-content">
            <div class="col-md-6">
                <h1 class="text-center">Donation Form</h1>
                <div id="formContent">
                    <form method="POST" action="/userDonation">
                        <!-- Food Item Input Fields -->
                        <div id="foodItems">
                            <div class="food-item">
                                <label for="food">Food:</label>
                                <input type="text" id="food" name="food" class="form-control" required>

                                <label for="quantity">Quantity:</label>
                                <input type="number" id="quantity" name="quantity" class="form-control" required>

                                <label for="expirationDate">Expiration Date:</label>
                                <input type="date" id="expirationDate" name="expirationDate" class="form-control" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Donate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>