<footer id="main-footer">
    <div id="footer-bottom">
        <div class="footer container-flex">
            <div id="footer-info">Scottish Charitable Incorporated Organisation SC050443
            </div>
        </div>
    </div>
</footer>