<html>
    <head>
        {{>header}}
    </head>
    <body>
        {{>navbar}}
        <div class="container-flex mt-4">
            <div class="row">
                <div class="col-md-6 bg-secondary text-white d-flex flex-column">
                    <h1>Welcome!</h1>
                    <br>
                    <h3>We are the voice for pantries.</h3>
                    <br><br>
                    <h4>Donate surplus food for pantries and help the cause!</h4>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="col-md-6 d-flex">
                    <img src="{{imageUrl2}}" class="img-fluid" alt="Image">
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>