body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    margin-left: 0.5in;
}
h1{
    margin-left: 0.5in;
    margin-top: 0.5in;
}
h2{
    margin-left: 0.5in;
}
h3{
    margin-left: 0.5in;
}
h4{
    margin-left: 0.5in;
}
iframe{
    margin-left: 0.5in;
}