<html>
    <head>
        {{>header}}
    <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
    {{>navbar}}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <h1 class="text-center">{{title}}</h1>
                <h2 class="text-center">Register</h2>
                <div id="form-content">
                    <form method="POST" role="/register">
                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" name="location" placeholder="Location" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                        </div>
                        {{#errorMessage}}
                            <p>{{errorMessage}}</p>
                        {{/errorMessage}}
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>